@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,400;1,500&display=swap');

html {
    font-family: 'EB Garamond', serif;
    font-size: 62, 5%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    background-color: #dbedc872;
}
/* INICIA INDEX.HTML */
/* inicia header */
header {
    font-family: 'EB Garamond', serif;
}

.encabezado div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background: rgb(243, 255, 218);
    background: linear-gradient(0deg, rgba(243, 255, 218, 1) 0%, rgba(221, 255, 188, 1) 100%);
}

.encabezado div h1 {
    text-align: center;
    font-size: 3.5rem;
    font-style: italic;
    color: #52734D;
}

.encabezado div img {
    padding: 5% 0% 5% 0%;
}

.animate__animated .animate__backInLeft {
    --animate-duration: 2s;
}


/* fin header */
/* inicia nav */

.logotipo {
    visibility: hidden;
}

.background-nav {
    display: flex;
    align-items: center;
    padding: 2% 0;
    width: 100%;
    height: 10vh;
}

.background-nav ul li {
    list-style: none;
    display: inline;
    padding: 10px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
}

.background-nav ul li a {
    color: #52734D;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}


/* fin nav */
/* ------------fin zona-1 header y nav-------- */
/* -----------inicia pseudo-main Zona-2-------*/
.zona-2 {
    width: 100%;
    height: auto;
}

/* inicia presentacion portada */
.zona-2 .presentacion {
    background-image: url(https://images.pexels.com/photos/2133092/pexels-photo-2133092.jpeg?cs=srgb&dl=pexels-quang-nguyen-vinh-2133092.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    padding: 2% 0% 50% 0%;
    font-family: 'EB Garamond', serif;
}

.whatsaap-logo {
    position: fixed;
    margin-top: 20%;
    padding-left: 90%;
    z-index: 2;
}

.presentacion div h2 {
    color: whitesmoke;
    font-weight: bold;
    text-align: left;
    margin-top: 5%;
    padding-left: 5%;
    font-size: 2.5rem;
    line-height: 1.6rem;
    width: 100%;
    height: auto;
    font-family: 'EB Garamond', serif;
}

.zona-2-desarrollo {
    background: rgb(167, 189, 145);
    background: linear-gradient(0deg, rgba(167, 189, 145, 0.774) 2%, rgba(173, 194, 169, 0.772) 61%);
    width: 100%;
    height: auto;
    padding: 4% 1%;
    font-family: 'EB Garamond', serif;
}

.zona-2-desarrollo p {
    color: #52734D;
    line-height: 2.8rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 550;
    padding: 0.5% 5%;
    font-family: 'EB Garamond', serif;
}

.zona-2-desarrollo h3 {
    color: #466142;
    line-height: 4.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1%;
    font-family: 'EB Garamond', serif;
}

.zona-2-desarrollo ul li {
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
}

/* fin presentacion/portada */
/*------ fin zona-2 pseudo-main------ */
/*------inicia zona-3 temporada----- */

.zona-3 {
    /* margin: 2%; */
    /*     background-color: #DDFFBC; */
}

/*inicia otoño */
.autumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.autumn .temporada {
    background-image: url(https://cdn.pixabay.com/photo/2017/10/02/21/56/sheet-2810487_1280.jpg);
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    width: 100%;
    height: auto;
}

.temporada div {
    width: 100%;
    height: auto;
}

.temporada div p {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 4.5% 2%;
    font-family: 'EB Garamond', serif;
}

/* fin otoño */
/* -----------fin zona-3 temporada--------------- */
/* -----------inicia zona-4 aside/videos----------*/

.zona-4 {
    background: rgb(173, 175, 173);
    background: linear-gradient(0deg, rgba(173, 175, 173, 1) 2%, rgba(173, 194, 169, 1) 96%);
    margin: 1%;
}

.zona-4 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2% 4% 2%;
    width: 90%;
    height: auto;
    margin: 4% 8% 6% 6%;
}

.zona-4 div h3 {
    line-height: 3rem;
    font-size: 1.2rem;
    color: rgb(80, 78, 78);
    text-align: center;
    font-family: 'EB Garamond', serif;
}

/* ---------fin zona-4--------------- */
/* ---------inicia zona-5 pasos----- */

.zona-5 {
    background-color: #FEFFDE;
    width: 100%;
    height: auto;
}

.pasos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.pasos div {
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #52734D;
    display: inline-block;
    text-align: center;
    margin: 5%;
    font-family: 'EB Garamond', serif;
}

/*-------------Fin zona-5 pasos-----------*/
/*--------- inicia zona-6 footer-------- */

/* inicia formulario */
footer {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "zona0 zona0 zona0 zona0" "zona1 zona1 zona2 zona2" "zona 3 zona3 zona3 zona3" "zona4 zona4 zona4 zona4";
    overflow-x: hidden;
}

.separador1 {
    grid-area: zona0;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/3144214/pexels-photo-3144214.jpeg?cs=srgb&dl=pexels-cole-keister-3144214.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
    padding: 5%;
}

footer .form-ubicacion {
    grid-area: zona1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: auto;
}

footer .form-ubicacion form {
    background-color: #ddffbc;
    padding: 5%;
}

footer .form-ubicacion form h3 {
    text-align: center;
    color: green;
    font-style: italic;
    font-family: 'EB Garamond', serif;
}

footer .form-ubicacion form ul li {
    list-style: none;
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-family: 'EB Garamond', serif;
}

/*----FIn formulario*/
/*-------Inicia mapa y redes----*/
footer .mapa {
    grid-area: zona2;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: auto;
    background-color: #adc2a9c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .mapa h3{
    color: #173e11;
    padding: 3% 10%;
    margin-right: 3%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    line-height: 2rem;
}

footer .mapa iframe{
    width: 60%;
    height: 45%;
    margin-right: 5%;
    /*  padding-right: 5%; */
}

footer .redes {
    grid-area: zona3;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #FEFFDE;
    padding: 5%;
    width: 90%;
    height: auto;
    font-family: 'EB Garamond', serif;
}

footer .redes a {
    padding-left: 10%;
}

footer .redes h3 {
    color: #52734D;
    font-weight: bold;
    text-align: center;
    line-height: 1.6rem;
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
}

/*-----Fin mapa y redes---*/
/*---Inicio piecito---*/
footer .pie {
    grid-area: zona4;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 100%;
    height: auto;
    background-color: #99A799;
    line-height: 1.6rem;
    font-family: 'EB Garamond', serif;
}

/*---Fin piecito---*/
/*Fin footer*/
/*-------------FIN INDEX--------- */
/* -------------INICIA SERVICIOS.HTML---------- */
/* --------Inicia zona-2 servicios-------- */
/* inicia servicios/portada */

.servicios {
    background-image: url(https://images.pexels.com/photos/68470/pexels-photo-68470.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    padding: 2% 0% 50% 0%;
}

.servicios div h2 {
    color: whitesmoke;
    font-weight: bold;
    text-align: left;
    margin-top: 5%;
    padding-left: 5%;
    font-size: 2.5rem;
    line-height: 1.6rem;
    width: 100%;
    height: auto;
}

.zona-2-desarrollo h3 {
    color: #466142;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 1%;
}

.zona-2-desarrollo h4 {
    color: #466142;
    line-height: 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1%;
    font-style: oblique;
    text-decoration: underline;
}

.zona-2-desarrollo ul {
    list-style: circle;
    font-size: 1.2rem;
    color: #52734D;
    line-height: 2.8;
    font-style: italic;
    font-weight: 550;
    padding: 3%;
}

/* fin servicios portada */
/* ----------inicia capacitacion-------- */
/* -----inicio zona-3------ */
.zona-3 .img-car {
    margin: 5%;
}

.zona-3 .capacitacion .desarrollo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5%;
    padding: 2%;
    background-color: #ddffbcba; 
}

.zona-3 .capacitacion .desarrollo h5 {
    font-size: 1.4rem;
    line-height: 2;
    text-align: center;
    font-style: italic;
    color: #466142;
    padding: 6% 0 4% 0;
}

.capacitacion .desarrollo ul {
    list-style: circle;
    font-size: 1.2rem;
    color: #52734D;
    line-height: 1.6;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    padding: 3%;
}

.capa {
    background: rgb(173, 175, 173);
    background: linear-gradient(0deg, rgba(173, 175, 173, 1) 2%, rgba(173, 194, 169, 1) 96%);
    font-size: 1.2rem;
    color: #466142;
    line-height: 1.6;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    margin: 2% 0;
    padding-top: 5%;
}

.capa h3 {
    font-size: 1.8rem;
    line-height: 2;
    text-align: center;
    font-style: italic;
    color: #466142;
}

.capa h4 {
    font-size: 1.5rem;
    line-height: 2;
    text-align: center;
    font-style: italic;
    color: #466142;
    padding: 8% 0 10% 0;
}
/* boton en footer */
.boton {
    grid-area:zona0;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/1379627/pexels-photo-1379627.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: bottom;
    background-size: cover;
    padding: 5%;
    text-align: center;
}

.boton a {
    background-color: #DDFFBC;
    text-decoration: none;
    color: #52734D;
    padding: 2%;
    margin-right: 6%;
    border: 2px solid #52734D;
    border-radius: 20px;
}

.boton a:hover {
    background-color: #1a47136c;
    color: #DDFFBC;
    padding: 4%;
    border: 4px solid #DDFFBC;
    border-radius: 20px;
    font-size: 2rem;
    transform: scale(1);
    transition: all 2s;
}

/*-------fin zona-4------ */
/*  --------fin capacitacion-------*/
/*-----------INICIA PRODUCTOS.HTML------- */
/* ------inicia zona-2 productos---- */
.zona-2 .presentacion-productos {
    background-image: url(https://images.pexels.com/photos/4503823/pexels-photo-4503823.jpeg?cs=srgb&dl=pexels-cottonbro-4503823.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    padding: 2% 0% 50% 0%;
}

.presentacion-productos div h2 {
    color: whitesmoke;
    font-weight: bold;
    text-align: left;
    margin-top: 5%;
    font-size: 2.5rem;
    padding-left: 5%;
    line-height: 1.6rem;
    width: 100%;
    height: auto;
}

/* fin zona-2 productos */
/* Inicia  zona-2-desarrollo galeria de productos */
.sub-titulo {
    padding: 5%;
}

.sub-titulo h3 {
    font-size: 3rem;
    text-align: center;
    line-height: 2rem;
}
.car-img{
    width: 75%;
    height: auto;
}

/* fin .zona-2-desarrollo galeria productos */
/* inicia zona-3 nuestros productos */
.zona-3 .nuestros-productos {
    font-size: 1.2rem;
    color: #466142;
    line-height: 1.6;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    padding-top: 5%;
    margin: 2%;
}

.zona-3 .nuestros-productos h3 {
    font-size: 1.8rem;
    line-height: 2.5;
    text-align: center;
    font-style: italic;
    color: #466142;
}

/* FIN ZONA-3 NUESTROS-productos */
/* inicia zona-4 publi-imagenes */
.zona-4 .publi-imagenes {
    padding: 5%;
    justify-content: center;
    align-items: flex-start;
}

.publi-imagenes img {
    padding: 5% 1%;
}

/* fin zona-4 publi-imagenes */
/* Inicia boton de descarga/separador */
.boton2 {
    grid-area: zona0;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: auto;
    width: 90%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/2968327/pexels-photo-2968327.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    padding: 5%;
    text-align: center;
}

.boton2 a {
    background-color: #FEFFDE;
    text-decoration: none;
    color: green;
    padding: 2%;
    border: 2px solid green;
    border-radius: 20px;
}

.boton2 a:hover {
    background-color: #1a47136c;
    color: #DDFFBC;
    padding: 4%;
    border: 4px solid #DDFFBC;
    border-radius: 20px;
    font-size: 2rem;
    transform: scale(1);
    transition: all 2s;
}

/* fin zona-5 boton de descarga/separador */
/*----Fin publicidad productos------*/
/* ------FIN PRODUCTOS.HTML----- */

/*-------INICIO NOSOTROS HTML------*/

/*------Comienza pseudo-main-----*/
/*----comienza presentacion----*/
/* inicia zona-2 nosotros */
.presentacion-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/22/08/07/singapore-zoo-2164309_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0% 50% 0%;

}

.presentacion-nosotros div {
    background-color: #52734d75;
    padding: 0 2%;
    margin-left: 2%;
}

.presentacion-nosotros div h2 {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    font-size: 3rem;
    padding: 5%;
    line-height: 1.6rem;
}

/*------Fin presentacion------*/
.zona-2-desarrollo .somos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.somos .rex {
    width: 45%;
    height: auto;
    padding: 5% 0% 0% 5%;
    justify-content: center;
    align-items: flex-start;
}

.somos .vivero {
    width: 50%;
    height: auto;
    padding: 5% 5% 7.5% 5%;

}

.somos .vivero h3 {
    text-align: center;
    font-weight: bold;
    line-height: 5rem;
    font-size: 1.5rem;
    font-style: italic;
}

.somos .vivero p {
    text-align: center;
    font-weight: lighter;
    line-height: 2rem;
    font-size: 1rem;
}

/*------Fin somos----*/
/* -----------inicio zona-3------------- */
.zona-3 .dino {
    margin: 3%;
}

/* -----------fin zona-3----------------- */

/* -----------inicio zona-4------------- */
/*----comienzo impacto-----*/
.impacto {
    width: 100%;
    height: 100%;
    background-color: #FEFFDE;
    padding: 5% 5% 7.5% 5%;

}

.impacto h3 {
    text-align: center;
    font-weight: bold;
    line-height: 5rem;
    font-size: 1.5rem;
    font-style: italic;
    color: #52734D;
}

.impacto p {
    text-align: center;
    font-weight: lighter;
    line-height: 2rem;
    font-size: 1rem;
    padding-right: 7%;
    padding-bottom: 3%;
    color: #52734D;
}

.impacto ul {
    list-style: none;
    font-size: 1.1rem;
    color: #52734D;
    line-height: 1.6;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    padding: 3%;
}

/*-------Fin impacto-----*/
/* -----------fin zona-4------------- */
/* -----------inicia zona-5--------- */
/*-------comienzo separador-----*/
.separador2 {
    width: 90%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/10701381/pexels-photo-10701381.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    padding: 5%;
}

/*-----Fin separador-----*/
/*-------fin NOSOTROS HTML------*/
/*-------INICIO CONTACTO HTML------*/
/*---comienza presentacion contacto----*/
.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/2896280/pexels-photo-2896280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0% 50% 0%;

}

.contacto h2 {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    font-size: 3rem;
    padding-left: 5%;
    line-height: 1.6;
}

/*---fin presentacion contacto----*/

/*-----Comienzo ficha-----*/
.ficha {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.ficha div {
    background-color: #feffdeb2;
    padding: 5% 5% 8% 5%;
}

.ficha div h3 {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 3;
    color: #172415;
    font-size: 1.8rem;
}

.ficha div ul li {
    list-style: none;
    text-align: center;
    line-height: 1.8rem;
    color: #1a4713;
    font-size: 1.2rem;
}

.ficha div ul li p {
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 5rem;
}

/*----fin ficha-----*/
/*-------Comienzo separador----*/
.separador3 {
    width: 100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/8892905/pexels-photo-8892905.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-position: center;
    background-size: cover;
    padding: 10% 0;
}

/*------fin separador-----*/
/*------FIN CONTACTO HTML-----*/